<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Jochem Vogel">
        <meta name="description" content="ERLIJN is a search engine for (cheap) flights where you can search and book flights.">
        <meta name="robots" content="index, follow" />
        <meta name="theme-color" content="#0084ff">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
        <link rel="manifest" href="manifest.json">
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Potta+One&family=Raleway:wght@400;700&display=swap" />
        <title>ERLIJN - Get the cheapest tickets</title>
	</head>
	<body>
    <div class="container">
        <% if (isDevelopment) { %>
            <%- include('header') %>
        <% } else { %>
            <%- include('../header') %>
        <% }  %>
