<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ERLIJN - Get the cheapest tickets</title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Potta+One&family=Raleway:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="shortcut icon"
			type="image/png"
			href="https://cdn.iconscout.com/icon/free/png-256/world-airplane-2221422-1847977.png"
		/>
	</head>
	<body>
    <div class="container">
        <%- include('header') %>

