<% if (isDevelopment) { %> <%- include('../partials/head') %> <% } else { %> <%-
include('../partials/public/head') %> <% } %>

<section class="offline">
    <h2>You are offline</h2>
    <p>
        You still can visit the pages that you've already visited. If you've already viewed/booked a flight, you go to the checkout page.
    </p>

    <p>Although, the app might not work as expected. Please connect to the internet for the optimal experience.</p>

    <form action="/" method="GET">
        <button class="btn">Go to home</button>
    </form>


    <form action="/checkout" method="GET">
        <button class="btn">Go to home</button>
    </form>
</section>

<% if (isDevelopment) { %>
    <%- include('../partials/end') %>
<% } else { %>
    <%-include('../partials/public/end') %> <% } %>
