<% if (isDevelopment) { %>
    <%- include('../partials/head') %>
<% } else { %>
    <%- include('../partials/public/head') %>
<% }  %>

<h2>You are offline</h2>
<button>
    <a href="/">Go to home</a>
</button>

<% if (isDevelopment) { %>
    <%- include('../partials/end') %>
<% } else { %>
    <%- include('../partials/public/end') %>
<% }  %>
